name: Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Prepare environment
        run: chmod +x ./gradlew
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build and test using gradle
        run: ./gradlew build
        env:
          API_KEY: ${{ secrets.TMDB_API_KEY }}
      - name: Read library version
        id: version_property
        uses: christian-draeger/read-properties@1.1.1
        with:
          path: ./gradle.properties
          property: version
      - name: Publish to Central Repository
        run: ./gradlew publish releaseNexusRepositories
        env:
          API_KEY: ${{ secrets.TMDB_API_KEY }}
          OSSRH_USER: ${{ secrets.OSSRH_USER }}
          OSSRH_PASS: ${{ secrets.OSSRH_PASS }}
          SIGNING_PASSWORD: ${{ secrets.OSSRH_SIGNING_PASSWORD }}
          SIGNING_KEY_ID: ${{ secrets.OSSRH_SIGNING_KEY_ID }}
          SIGNING_SECRET_KEY_RING_BASE64: ${{ secrets.OSSRH_SIGNING_SECRET_KEY_RING_BASE64 }}
      - name: Archive logs on failure
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: build-test-reports
          path: build/reports
